@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Square+Peg&display=swap');
::content {
  max-width: 1600px;
  margin: auto;
}

*/* {
  border: 1px solid blue;
}*/

nav a {
  color: #10120E;
  text-decoration: none;
  background-color: #78c5d7;
  padding: 35px;
  text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main {
  text-align: center;
}

#background {
  height: 725px;
}
body {
  background-color:#d6e4f2;
  margin: 0;
  padding: 0;
}
header {
  background-color:#d6e4f2;
  color: black;
}
nav a:hover {
  background-color: rgba(61, 80, 65, 0.881);
  color: #10120E;
}
.book, .join {
  background-color: #78c5d7;
  text-decoration: none;
  padding: 15px 30px;
}
.book:hover, .join:hover {
  background-color:rgba(61, 80, 65, 0.881);
}
#backgroud {
  background-color: #d6e4f2;
}
.msg {
  background-color:#d6e4f2 ;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  text-align: center;
  background-color:#d6e4f2 ;
  text-decoration: underline;
  padding: 25px 50px;
  margin-top: 200px;
}
.home-title {
  color: black;
  font-family: "raleway";
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color:black ;
  font-family: "Square Peg";
  font-size: 2em;
}
.book, .join {
  color: black;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
  color: black;
}
.msg h2 {
  color:black ;
}
.msg p {
  color: black;
  font-size: 2em;
  font-family: "Square Peg";
  padding-bottom: 15px;
}
footer h3 {
  color: black;
}
footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: black;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}
h3 {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
h1, h2 {
  font-family: "Raleway";
  font-size: 2em;
}
h2 {
  margin: 0;
}
#logo_link {
  padding-top: 5px;
}
footer.social img {
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #134266;
}
main section img {
  box-sizing: border-box;
}