body {
    background-color: brown;
}
main img {
    width: 300px;
    display: block;
    margin: auto;
    border: 2px solid white;
}
img {
    border-radius: 50%;
    border: 4px solid white;
    width: 15%;
    margin: 0 auto;
}


